name: Build Sdist

on:
  workflow_call:
  workflow_dispatch:

jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with: 
            submodules: recursive

      - name: Download prepared assets
        if: github.ref == 'refs/heads/main'
        uses: actions/download-artifact@v4
        with:
          name: prepared-assets
          path: .

      - name: Download updated README
        if: github.ref == 'refs/heads/main'
        uses: actions/download-artifact@v4
        with:
          name: updated-readme
          path: .

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Build sdist
        run: uv build --sdist

      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz
